
<mat-toolbar class="navbar">
  <div>
    <img src="assets/images/invlg.png" alt="INVERCO" class="headLogo"/>
  </div>
  <div>
    <a href="https://www.invercomx.com/">Ir a inverco</a>
  </div>
</mat-toolbar>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-45">
          Restablecer Contraseña
        </span>
        <span class="error-subheader2 p-t-20 p-b-15">
          Ingrese su nueva contraseña
        </span>
        <div class="form-group mb-5">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contraeña</mat-label>
            <input type="password" matInput formControlName="password" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
              Contraseña es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group mb-5">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input type="password" matInput formControlName="password_conf" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="resetPasswordForm.get('password_conf').hasError('required')">
              Confirmar contraseña es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="container-login100-form-btn">
          <button mat-flat-button class="login100-form-btn" type="submit">
            Restablecer
          </button>
        </div>
        <div class="w-full p-t-25 text-center">
          <div>
            <a routerLink="/Autenticacion/Login" class="font-weight-medium text-success">
              Cancelar
            </a>
          </div>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/pages/2 (1).png');">
      </div>
    </div>
  </div>
</div>
