<mat-toolbar class="navbar">
  <div>
    <img src="assets/images/invlg.png" alt="INVERCO" class="headLogo"/>
  </div>
  <div>
    <a href="https://www.invercomx.com/">Bienvenido</a>
  </div>
</mat-toolbar>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      <span class="login100-form-title p-b-45">
        El proceso se completo de forma {{estado}}
      </span>
      <span class="login100-form-title p-b-45">
        Redireccionando.. {{timeLeft}}
      </span>
    </div>
  </div>
</div>
