<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Extra</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">Bienvenido</div>
                <div class="name-center">Aun no has fondeado tu cuenta</div>
              </div>
              <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
              <p>
                para poder empezar a prestar y hacer crecer tu dinero necesitas agregar fondos a u cuenta.
                <br />New York
              </p>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

