<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="submenu" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Folio</mat-label>
            <input matInput formControlName="id" readonly>
            <mat-icon matSuffix>turned_in_not</mat-icon>
            <mat-error *ngIf="submenu.get('id').hasError('required')">
              Folio es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="titulo">
            <mat-error *ngIf="submenu.get('titulo').hasError('required')">
              Título es requerida
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sub Título</mat-label>
            <input matInput formControlName="subtitulo">
            <mat-error *ngIf="submenu.get('subtitulo').hasError('required')">
              Sub Titulo es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Habilitado</mat-label>
            <input matInput formControlName="habilitado">
            <mat-error *ngIf="submenu.get('habilitado').hasError('required')">
              Habilitado es requerida.
            </mat-error>
          </mat-form-field>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Template</mat-label>
            <input matInput formControlName="template">
            <mat-error *ngIf="submenu.get('template').hasError('required')">
              Template es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sistema</mat-label>
            <input matInput formControlName="sistema">
            <mat-error *ngIf="submenu.get('sistema').hasError('required')">
              Sistema es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>ControllerAs</mat-label>
            <input matInput formControlName="controllerAs">
            <mat-error *ngIf="submenu.get('controllerAs').hasError('required')">
              controllerAs es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>URL</mat-label>
            <input matInput formControlName="url">
            <mat-error *ngIf="submenu.get('url').hasError('required')">
              URL es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Menú</mat-label>
            <mat-select formControlName="menu">
              <mat-option *ngFor="let item of menuCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="submenu.get('menu').hasError('required')">
              Menú es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Url Ajs</mat-label>
            <input matInput formControlName="urlAjs">
            <mat-error *ngIf="submenu.get('urlAjs').hasError('required')">
              Url Ajs es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Es Catalago</mat-label>
            <input matInput formControlName="esCatalogo">
            <mat-error *ngIf="submenu.get('esCatalogo').hasError('required')">
              Es Catalago es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>controller</mat-label>
            <input matInput formControlName="controller">
            <mat-error *ngIf="submenu.get('controller').hasError('required')">
              Controller es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Etiqueta</mat-label>
            <input matInput formControlName="etiqueta">
            <mat-error *ngIf="submenu.get('etiqueta').hasError('required')">
              Etiqueta es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Habilitado</mat-label>
            <input matInput formControlName="habilitado">
            <mat-error *ngIf="submenu.get('habilitado').hasError('required')">
              Habilitado es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="!submenu.valid"
                    [mat-dialog-close]="1" (click)="confirmAdd()">Guardar
            </button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
