<mat-toolbar class="navbar">
  <div>
    <img src="assets/images/invlg.png" alt="Crodwdlending" class="headLogo"/>
  </div>
  <div>
    <a href="https://www.invercomx.com/">Ir a Crodwdlending</a>
  </div>
</mat-toolbar>


<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="formulario">
        <span class="login100-form-title p-b-30">
          Registro
        </span>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="username" required>
          <mat-icon matSuffix>face</mat-icon>
          <mat-error *ngIf="formulario.get('username').hasError('required')">
            Nombre de usuario es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="mail" required>
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="formulario.get('mail').hasError('required')">
            Por favor, ingrese una dirección de correo electrónico válida
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="formulario.get('password').hasError('required')">
            Contraseña es requerida
          </mat-error>
          <mat-error *ngIf="formulario.controls.password.hasError('pattern')">
            La contraseña debe ser de al menos 8 caracteres con al menos 1 letra mayuscula, 1 letra minuscula y 1 numero. No se permiten caracteres especiales.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Cinfirmar Password</mat-label>
          <input matInput formControlName="password2" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="formulario.get('password2').hasError('required')">
            La confirmacion de la contraseña es requerida
          </mat-error>
          <mat-error *ngIf="formulario.controls.password2.hasError('pattern')">
            La contraseña debe ser de al menos 8 caracteres con al menos 1 letra mayuscula, 1 letra minuscula y 1 numero. No se permiten caracteres especiales.
          </mat-error>
        </mat-form-field>
        <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div>
            <span>¿Ya tienes una cuenta?<a routerLink="/Autenticacion/Login" class="font-weight-medium text-success">
              Inicia sesión
              </a></span>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button mat-flat-button class="login100-form-btn" type="submit" (click)="save()">
            Registrarme
          </button>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/user/64x64/Avatar.png');">
      </div>

    </div>
  </div>
</div>

