<div class="width: 5000">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="responsive_table">
            <div class="materialTableHeader">
              <div class="row">

                <div class="col-8">
                  <ul class="header-buttons-left ml-0">
                    <li class="dropdown"><h2><strong>{{_datos._title}}</strong></h2></li>
                    <li class="dropdown m-l-20">
                      <label><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar..." type="text" #filter class="browser-default search-field"
                             aria-label="Search box">
                    </li>
                    <li>
                      <div class="icon-button m-l-10" [hidden]=!selection.hasValue()>
                        <button mat-mini-fab color="warn" (click)="removeSelectedRows()"
                                matTooltip="Descargar {{datos.subComponente.toLowerCase()}}s seleccionados">
                          <mat-icon>download</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="header-buttons">
                    <li>
                      <div>
                        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                          <mat-icon>close</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                  <mat-checkbox (change)="$event ? selection.toggle(row)  : null"
                                [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.titulo}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-10'" class="pr-0">Acciones
                </mat-header-cell>
                <mat-cell [ngClass]="'tbl-col-width-per-10'" *matCellDef="let row; let i=index" class="pr-0">
                  <button mat-icon-button color="primary" (click)="$event.stopPropagation(); descargar(row)"
                          matTooltip="Descargar {{row.titulo}}">
                    <mat-icon>download</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple></mat-row>
            </mat-table>

            <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">No se
              encontraron Resultados
            </div>
            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

